<footer  class="colophon">
  <p class="main_method"><a href="{{ site.email | prepend: 'mailto:' }}">Me envie um email</a> se você precisar de ajuda com seu site.</p> 
  <p class="links">Você também pode me encontrar no
   <a href="https://twitter.com/arthrfrts" rel="external">Twitter</a>,
   <a href="https://github.com/arthrfrts" rel="external">GitHub</a>,
   <a href="https://www.instagram.com/arthrfrts" rel="external">Instagram</a>,
   <a href="https://www.linkedin.com/in/arthrfrts" rel="external">LinkedIn</a>,
   <a href="https://letterboxd.com/arthrfrts" rel="external">Letterboxd</a> e no
   <a href="https://readernaut.com/reader/arthur" rel="external">Readernaut</a>.</p>
</footer>
