<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &mdash; {% endif %} {{ site.title }}</title>

  <!-- OpenGraph, Schema, etc. -->
  {% seo title=false %}

  <!-- Feeds -->
  {% feed_meta %}
  {% json_feed_meta %}

  <!-- Icon, stylesheet -->
  <link rel="icon" type="image/png" href="{% link /assets/img/favicon.png %}" />
  <link rel="stylesheet" href="{{ '/assets/css/screen.css' | relative_url }}" />
  <script async src="{{ '/assets/js/previews.js' | relative_url }}"></script>
</head>
