<header class="masthead" role="navigation">
  {% unless page.title %}
    <h1 class="site_title">
      <a href="{{ site.url }}">
        <img width="64" height="64" class="site_portrait" 
          src="{{ site.logo }}" alt="Retrato do autor do site"
          role="presentation" loading="lazy" />
          
        {{ site.title }}
      </a>
    </h1>
  {% else %}
    <p class="site_title">
      <a href="{{ site.url }}">
        <img width="64" height="64" class="site_portrait" 
          src="{{ site.logo }}" alt="Retrato do autor do site"
          role="presentation" loading="lazy" />
          
        {{ site.title }}
      </a>
    </p>
  {% endunless %}
  
  {% if site.data.menu %}
    <nav class="site_menu">
      {% for item in site.data.menu %}
        {% assign item_url = item.url %}
          
        {% unless item.external %}
          {% assign item_url = item.url | relative_url %}
        {% endunless %}
          
          <a class="menu_item" href="{{ item_url }}" {% if item.external %} rel="external"{% endif %}>
            {{ item.title }}
          </a>
      {% endfor %}
    </nav>
  {% endif %}
</nav>
