<div style="opacity: 0; display: none;" id='tooltip-wrapper'>
  <div id='tooltip-content'>
  </div>
</div>

<iframe style="display: none; height: 0; width: 0;" id='link-preview-iframe' src="">
</iframe>

<script>
const iframe = document.querySelector("#link-preview-iframe");
const tooltipWrapper = document.querySelector("#tooltip-wrapper");
const tooltipContent = document.querySelector("#tooltip-content");

function setupListeners(linkElement) {
  linkElement.addEventListener('mouseleave', function (_event) {
    hideTooltip();
  });

  tooltipWrapper.addEventListener('mouseleave', function (_event) {
    hideTooltip();
  });

  linkElement.addEventListener('touchend', function (_event) {
    hideTooltip();
  });

  tooltipWrapper.addEventListener('touchend', function (_event) {
    hideTooltip();
  });

  linkElement.addEventListener('mouseenter', function (event) {
    clearTimeout(opacityTimeout);
    clearTimeout(contentTimeout);
    showTooltip(event);
  });

  tooltipWrapper.addEventListener('mouseenter', function (event) {
    clearTimeout(opacityTimeout);
    clearTimeout(contentTimeout);
  });
}

document.querySelectorAll('{{ include.wrapperQuerySelector }} a').forEach(setupListeners);
</script>
