html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 1px dashed currentColor;
}

html {
  min-height: 100vh;
  border: 5px solid var(--color-subtle);
  font-size: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family--base);
  line-height: 1.65;
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 3vw;
  padding-right: 3vw;
}

/**
 * Site Header
**/

.site-menu {
  margin-bottom: 3rem;

  .site-title {
    a {
      text-decoration: none;
      color: var(--color-text);
    }
  }
}

/**
 * Content
**/
.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "footer footer .";
    margin-bottom: 3rem;

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "header"
        "content"
        "sidebar"
        "footer";
    }

    &-header {
      grid-area: header;
      margin-bottom: 2rem;
    }

    &-meta {
      font-size: 0.75rem;
      cursor: default;
      user-select: none;
      letter-spacing: 0.05em;

      .type-badge {
        display: inline-block;
        background: var(--color-subtle);
        color: var(--color-text);
        padding: 4px 7px;
        margin-right: 0.5rem;
        border-radius: 6px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-weight: 600;
        position: relative;

        &::before {
          display: block;
          content: attr(aria-label);
          color: var(--color-text);
          position: absolute;
          left: 0;
          top: calc(100% + 0.5rem);
          width: 300px;
          background: var(--color-background);
          border: 1px solid var(--color-border);
          border-radius: 4px;
          padding: 0.5em;
          box-shadow: 0 5px 10px var(--color-border);
          text-transform: none;
          letter-spacing: normal;
          font-weight: normal;
          transform: scale(0.9);
          transform-origin: top;
          opacity: 0;
          visibility: hidden;
          transition-property: transform, opacity, visibility;
          transition-duration: 150ms;
          transition-timing-function: ease;
        }

        &:hover,
        &:focus {
          cursor: help;

          &::before {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }
        }
      }

      .content-date {
        opacity: 0.7;
      }

    }

    &-body {
      grid-area: content;
    }

    &-sidebar {
      grid-area: sidebar;
    }

    &-backlinks {
      background-color: var(--color-link-background);
      padding: 1rem;

      .backlinks-list {
        list-style: none;
        padding-left: 0;
        font-size: 0.85rem;

        strong {
          font-size: 1rem;
        }
      }

      a.internal-link,
      a[href^="/jardim/"] {
        background: none
      }
    }

    &-footer {
      grid-area: footer;
    }
}

/**
 * Link previews
**/
#tooltip-wrapper {
  background: var(--color-background);
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  width: 400px;
  max-height: 250px;
  font-size: 0.8em;
  box-shadow: 0 5px 10px var(--color-border);
  display: none;
  opacity: 0;
  transition: opacity 100ms;


  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, transparent, var(--color-background);
    width: 100%;
    height: 75px;
  }
}
