/**
 Links
**/

a {
  color: var(--color-link);
  text-decoration: none;
  background-color: transparent;
  transition: background 150ms ease;
  border-radius: 3px;
  padding: 0 3px;

  &.internal-link,
  &[href^="/jardim/"] {
    text-decoration: underline;
    text-decoration-color: var(--color-border);
  }

  &[href^="http"] {
    &::after {
      content: "↗";
      font-size: .75em;
      vertical-align: top;
      opacity: 0.5;
    }
  }

  &:hover,
  &:focus{
    background-color: var(--color-link-background);
  }
}

.invalid-link {
  color: var(--color-border);
  cursor: not-allowed;

  &-brackets {
    opacity: 0.5;
  }
}

/**
 * Headings
**/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

h6 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.75rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2.5rem;
}

/**
 * Media
**/

img {
  max-width: 100%;
  border-radius: 6px;
}
