/*
  Basic styling
*/

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  &:not(:last-child) {
    margin-bottom: calc(var(--spacing-unit) / 2);
  }
}

::selection {
  background-color: var(--color-text);
  color: var(--color-background);
}

strong, b {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

del {
  text-decoration: line-through;
}

ins, mark {
  background-color: var(--color-link__hover);
  text-shadow: 0 2px .5em var(--color-details__shadow);
  background-clip: text;
  color: transparent;
  padding-left: .1em;
  padding-right: .1em;
}

/*
  Links
*/

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-color: var(--color-details__border);
  background-color: transparent;
  transition: color 100ms ease;
  font-weight: 550;

  & > strong {
    font-weight: 700;
  }

  &[href^="http"] {
    &::after {
      content: "↗";
      font-size: var(--font-size__small);
      vertical-align: top;
      font-weight: 700;
    }
  }

  &[href^="mailto:"] {
    &::after {
      content: " ✉";
      font-size: var(--font-size__small);
      vertical-align: top;
      font-weight: 550;
    }
  }

  &[rel="tag"] {
    display: inline-block;
    background: var(--color-details);
    border-radius: var(--border-radius);
    text-decoration: none;
    font-weight: 600;
    color: var(--color-text__subtle);
    padding: 3px 7px;
    margin-right: calc(var(--spacing-unit) / 4);
    font-size: var(--font-size__small);
  }

  &:hover,
  &:focus{
    color: var(--color-link__hover);
  }
}

.invalid-link {
  color: var(--color-text__subtle);
  cursor: not-allowed;

  &-brackets {
    opacity: 0.5;
  }
}

/*
  Lists
*/

ul, ol, dl {
  margin-left: 1.5rem;
}

ul {
  list-style: disc;

  ul {
    list-style: square;
  }
}

ol {
  list-style: decimal;

  ol {
    list-style: lower-alpha;

    ol {
      list-style: lower-roman;
    }
  }
}

ul, ol {
  li {
    margin-top: calc(var(--spacing-unit) / 4);
    margin-bottom: calc(var(--spacing-unit) / 4);
    padding-left: calc(var(--spacing-unit) / 6);
  }

  ul, ol {
    margin-bottom: 0;
  }
}

dl {
  dt {
    font-weight: 700;
  }
}

.footnotes {
  border-top: 1px solid var(--color-details__border);
  margin-top: calc(var(--spacing-unit) / 2);
  padding-top: calc(var(--spacing-unit) / 2);
  font-size: var(--font-size__small);
}

/*
  Headings
*/

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin-bottom: 1em;
}

h6 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.75rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.25rem;
}

h1 {
  font-size: 2.5rem;
}

/*
  Quotes
*/

blockquote {
  background: var(--color-details);
  padding: calc(var(--spacing-unit) / 4);
  font-family: var(--font-family__quote);
  font-size: 1.25rem;
  font-style: italic;

  cite {
    display: block;
    font-size: var(--font-size__small);
    font-family: var(--font-family__base);
    font-style: normal;
    font-weight: 380;

    &::before {
      content: "— ";
    }
  }
}

/*
  Code and pre-formatted text
*/

pre, kbd, var, code {
  background-color: var(--color-details);
  border-radius: var(--border-radius);
}

kbd, var, code {
  padding: 0 5px;
  font-size: .9em;
}

pre {
  padding: calc(var(--spacing-unit) / 4);
  margin-bottom: calc(var(--spacing-unit) / 2);

  & > code {
    background: none;
    padding: 0;
  }
}

code, kbd {
  font-family: var(--font-family__code);
}

pre, var {
  font-family: var(--font-family__mono);
}

/*
  Media
*/

img, iframe, video, audio, object, embed {
  max-width: 100%;
  border-radius: var(--border-radius);
}

iframe, video, object, embed {
  width: 100%;
  aspect-ratio: 16 / 10;
}

img + em {
  display: block;
  text-align: right;
  color: var(--color-text__subtle);
  font-size: var(--font-size__small);
  font-weight: 550;
  font-style: normal;
}

/*
  Forms
*/

label {
  display: block;
  font-weight: 550;
  font-size: var(--font-size__small);
}

input, button, textarea {
  font: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .2rem .5rem;
  border-radius: var(--border-radius);
  border: none;
  box-shadow: none;
}

input, textarea {
  width: 100%;
  background: var(--color-details);
  border-bottom: 1px solid var(--color-details__border);
  cursor: text;
  color: var(--color-text);
  transition: border-bottom-color 100ms ease;

  &:focus {
    border-bottom-color: var(--color-text);
    outline: none;
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: var(--color-text);
  border-bottom: 1px solid var(--color-text);
  color: var(--color-background);
  transition-property: color, background-color, border-bottom-color;
  transition-duration: 100ms;
  transition-timing-function: linear;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font-size__small);

  &:hover,
  &:focus {
    background-color: var(--color-details__border);
    color: var(--color-text);
    cursor: pointer;
  }

  &:active {;
    border-bottom: none;
    border-top: 1px solid var(--color-text);
  }
}
