/*
  Basic structure
*/

.site {
  min-height: 100vh;
  
  body {
    align-content: flex-start;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
  }
}

/*
  Site Header
*/

.masthead {
  background: var(--color-accent);
  color: var(--color-background);
  @extend %grid-container;
  padding: 2rem;
  padding-bottom: 5rem;
  clip-path: polygon(0 0,100% 0,100% calc(100% - 5rem),0 100%);
  
  .wrapper {
    @extend %grid-content;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    
    @include media-query($on-palm) {
      flex-flow: column nowrap;
      justify-content: center;
    }
    
    a {
      color: currentColor;
      text-decoration: none;
      
      &:hover,
      &:focus {
        color: var(--color-link);
      }
    }

    .site_title {
      font-size: var(--base-font-size);
      font-weight: 900;
      margin-right: auto;
      margin-bottom: 0;
      
      @include media-query($on-palm) {
        margin-left: auto;
        margin-bottom: 1rem;
      }
      
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        
        .portrait {
          vertical-align: middle;
          border-radius: 50%;
          width: 2rem;
          height: 2rem;
          margin-right: 0.5rem;
          
          @include media-query($on-palm) {
            margin-right: 0;
            width: 4rem;
            height: 4rem;
          }
        }
        
        @include media-query($on-palm) {
          .name {
            display: none;
          }
        }
      }
    }
    
    .site_menu {
      display: flex;
      
      .menu_item {
        display: inline-block;
        
        &:hover,
        &:focus {
          text-decoration: underline;
        }
        
        &:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }
}

/*
  Site Content
*/

.content {
  @extend %grid-container;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  & > .page,
  & > .blog,
  & > .post {
    @extend %grid-content;
  }
}

// Title
.content_header {
  margin-bottom: 3rem;
  
  h1 {
    font-size: 5rem;
    font-weight: 900;
  }
  
  p {
    font-size: 1.25rem;
    max-width: 640px;
  }
}

// Content

.content_body,
.post_body {
  p, ul, ol, dl,
  blockquote, pre {
    max-width: var(--content-width);
  }
  
  iframe, figure,
  img, table,
  .full-width {
    max-width: 100%
  }
}

// Home
details {
  & + details {
    margin-top: var(--spacing-unit);
  }
  
  &[open] {
    summary {
      color: var(--color-link);
    }
  }
  
  summary {
    font-weight: 900;
    font-size: 2rem;
    color: var(--color-text);
    transition: color 350ms ease;
    cursor: pointer;
    list-style-type: none;
    
    &::-webkit-details-marker {
      display: none;
    }
    
    &::marker {
      display: none;
    }
    
    &:focus {
      outline: none;
    }
    
    &:hover,
    &:focus {
      color: var(--color-link);
    }
    
    & + * {
      margin-top: var(--spacing-unit);
    }
  }
  
  a {
    font-weight: 900;
    color: var(--color-text);
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: var(--color-link);
    }
  }
}

// Blog

.blog {
  
  .content_header {
    h1 {
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.01em;
      line-height: 1.25;
    }
  }
  
  .post {
    & + .post {
      margin-top: 6rem;
      padding-top: 6rem;
      border-top: 2px dotted var(--color-accent);
    }
    
    .post_header {
      margin-bottom: var(--spacing-unit);
      
      .post_title {
        font-size: 2.25rem;
        font-weight: 900;
        color: var(--color-text);
        
        a {
          color: currentColor;
          text-decoration: none;
          
          &:hover,
          &:focus {
            color: var(--color-link);
          }
        }
      }
    }
  }
}

.blog_pagination {
  margin-top: 5rem;
  margin-bottom: 3rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  
  a {
    font-weight: 900;
    text-decoration: none;
  }
  
  @include media-query($on-palm) {
    flex-flow: column nowrap;
    align-items: center;
  }
}

// 404

.search_fields {
  display: flex;
  width: 100%;
  margin-bottom: 5rem;
}

// Post
.post_colophon {
  margin-top: var(--spacing-unit);
  font-size: 0.75rem;
  
  .post_author {
    display: none;
  }
  
  .post_info {
    a {
      color: currentColor;
      text-decoration: none;
      font-weight: 700;
      
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.post {
  .content_header {
    margin-bottom: var(--spacing-unit);
    
    h1 {
      font-size: 2.25rem;
    }
  }
}

/*
  Site Footer
*/

.colophon {
  @extend %grid-container;
  background-color: var(--color-accent);
  color: var(--color-background);
  clip-path: polygon(0 5rem,100% 0,100% 100%,0 100%);
  padding-top: 6rem;
  padding-bottom: 3rem;
  margin-top: auto;
  
  p {
    @extend %grid-content;
    text-align: right;
    
    &.main_info {
      font-size: 1.25rem;
    }
    
    &.links {
      font-size: 0.75rem;
    }
  }
  
  a {
    font-weight: 900;
    color: currentColor;
    text-decoration: none;
    border-bottom: 2px solid var(--color-link);
    
    &:hover,
    &:focus {
      text-decoration: none;
      color: var(--color-link);
    }
  }
}
