---
layout: default
---

<section class="blog">
  <header class="content_header">
    <h1 class="content_title">
      {% if page.date %}
        {% assign date_format = "%m/%Y" %}
        {% if page.type == "year" %}
          {% assign date_format = "%Y" %}
        {% endif %}
        
        Arquivo de {{ page.date | date: date_format }}
        
      {% else %}
        Arquivo da tag “{{ page.title }}”
      {% endif %}
    </h1>
  </header>
  
  <div class="content_body">
    {% for post in page.posts %}
      {% include post.html archive=true %}
    {% endfor %}
  </div>
</section>
