---
layout: default
---

<article class="content">
  {% if page.title %}
    <header class="content-header">
      <h1 class="content-title">{{ page.title }}</h1>
    </header>
  {% endif %}

  <div class="content-body">
    {{ content }}
  </div>

  <section class="posts-index">
    {% assign sorted_tags = site.tags | sort %}

    <nav class="tags-nav">
      {% for tag in sorted_tags %}

      {%- assign tag_name = tag | first -%}
      {%- assign tag_size = tag | last | size -%}
      {%- assign tag_slug = tag_name | slugify -%}

      <a rel="tag" href="{{ tag_slug | prepend: '#' }}">
        <strong>{{ tag_name }}</strong> ({{  tag_size }})
      </a>
      {% endfor %}
    </nav>

    {% for tag in sorted_tags %}
      {% assign tag_name = tag | first %}

      <section class="tag-section">
        <h2 id="{{ tag_name | slugify }}" class="tag-title">{{ tag_name }}</h2>

        {% assign tag_posts = site.posts | where_exp: "post", "post.tags contains tag_name"%}

        <ol class="posts-list">
          {% for post in tag_posts %}
            <li class="post-item">
              <a href="{{ post.url | relative_url }}" class="internal-link" rel="bookmark">
                <strong class="post-title">{{ post.title }}</strong><br />
                <time class="post-updated-at" datetime="{{ post.last_modified_at | date_to_xmlschema }}">
                  {% if post.draft %}
                    Atualizado em {{ post.last_modified_at | date: "%d/%m/%Y às %H:%M"}}.
                  {% else %}
                    Publicado em {{ post.date | date: "%d/%m/%Y" }}, atualizado em {{ post.last_modified_at | date: "%d/%m/%Y às %H:%M" }}.
                  {% endif %}
                </time>
              </a>
            </li>
          {% endfor %}
        </ol>

      </section>
    {% endfor %}
    </ul>
  </section>

  {% include notes_graph.html %}
</article>
