---
layout: default
---

<article class="page post">
  {% unless page.title == "" %}
    <header class="content_header">
      <h1 class="content_title">
        {{ page.title }}
      </h1>
    </header>
  {% endunless %}
  
  <div class="content_body">
    {{ content }}
  </div>
  
  {% include post/infos.html post=page %}
  
  {% if page.previous or page.next %}
  <nav class="blog_pagination">
    {% if page.next %}
      <a class="page_prev" href="{{ page.next.url | relative_url }}" rel="next">&laquo; Post mais recente</a>
    {% endif %}
    {% if page.previous %}
      <a class="page_next" href="{{ page.previous.url | relative_url }}" rel="prev">Post mais antigo &raquo;</a>
    {% endif %}
  </nav>
{% endif %}
</article>
